
main div {
    border: 2px solid #ccc; /* Set the border style, width, and color */
    padding: 10px; /* Add some padding to create space between the content and the border */
    margin-bottom: 20px; /* Add margin to create space between each blog post */
  }

  .Title {
    border-bottom: 2px double black;
  }

  .toggleModeButton {
    position: absolute;
    top:10px;
    right:10px;
  }

  .para {
    font-size: 20px;
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    height:100%;
    background-color: rgb(250, 245, 245);
    padding-top: 15px; /* Add some space after the text */;
    padding-bottom: 15px; /* Add some space after the text */
}
